.box-pai{
    display: flex;
    flex-direction: column;
    font-family: arial, sans-serif;
}

@media(min-width:720px){
    .box-pai{
        display: flex;
        width: 45%;
        margin-left: 20%;
        flex-direction: column;
        font-family: arial, sans-serif;
    }
}

.box-child2{
    /* Menu */
    
    border: none;
    background-color: #8FA819;
    
}

.box-conteudo{
    /* Joaninha + Cereja */
    display: flex;
    
}

@media(max-width:720px){
    .box-conteudo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
    }
}


.box-child3{
    /* Joaninha */
    display: block;
    margin-right: 20px; 
    text-align: justify;
    
}

.imgP{
    float:left;
}

.box-child4{
    /* Cereja */
    display: block;  
    margin-left: 5px;
}



.box-footer{
    display: block;
    background-color: #8FA819;
    text-align: center;
    color: #fff;
}

hr{
    border: 2px solid #8FA819;
    background-color: #8FA819;
}

img{
    max-width: 100%;
    border: none;
}

.titulo{
    color: #8FA819;
}

.sub-titulo{
    color: #3F71B6;
    font-weight: bold;
    font-size: 15px;
}

button{
    height: 45px;
    color: #ffffff;
    font-size: 11px ;
    background-color: #8FA819;
    border: none;
    border-bottom: 5px solid #FFCD04;
    border-top: 5px solid #8FA819;
    border-radius: 0%;
    
}

@media(min-width:720px) {
    button{
        height: 45px;
        color: #ffffff;
        font-size: 11px ;
        background-color: #8FA819;
        border: none;
        border-bottom: 5px solid #FFCD04;
        border-top: 5px solid #8FA819;
        border-radius: 0%;
        flex-direction: row;
    }
}

button:hover{
    color: #ffffff;
    background-color: #FFCD04;
    border: none;
    border-radius: 0%;
    border-bottom: 5px solid #FFCD04;
    border-top: 5px solid #FFCD04;
        
}

.menu{
    height: 45px;
}

.search1{
    flex-direction: row-reverse;
    
}

.menu a {
  color: #ffffff;
  text-decoration: none;
}

