.box-pai{
    display: flex;
    flex-direction: column;
    font-family: arial, sans-serif;
}

@media(min-width:720px){
    .box-pai{
        display: flex;
        width: 45%;
        margin-left: 20%;
        flex-direction: column;
        font-family: arial, sans-serif;
    }
}

.box-child2{
    /* Menu */
    border: none;
    background-color: #8FA819;
    
}

#gira {
    width: 100%;
}


.box-conteudo{
    /* Joaninha + Cereja */
    display: flex;
    
}

@media(max-width:720px){
    .box-conteudo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
    }
}


.box-child3{
    /* Joaninha */
    display: block;
    margin-right: 20px; 

    
}

.box-child4{
    /* Cereja */
    display: block;  
    margin-left: 5px;
}



.box-footer{
    display: block;
    background-color: #8FA819;
    text-align: center;
    color: #fff;
}

hr{
    border: 2px solid #8FA819;
    background-color: #8FA819;
}



.titulo{
    color: #8FA819;
    line-height: 1px;
}

.sub-titulo{
    color: #3F71B6;
    font-weight: bold;
    font-size: 15px;
}

button{
    margin-left: 10px;
    height: 45px;
    color: #ffffff;
    font-size: 11px ;
    background-color: #8FA819;
    border: none;
    border-bottom: 5px solid #FFCD04;
    border-top: 5px solid #8FA819;
    border-radius: 0%;
    
}

@media(min-width:720px) {
    button{
        height: 45px;
        color: #ffffff;
        font-size: 11px ;
        background-color: #8FA819;
        border: none;
        border-bottom: 5px solid #FFCD04;
        border-top: 5px solid #8FA819;
        border-radius: 0%;
        flex-direction: row;
    }
}

button:hover{
    color: #ffffff;
    background-color: #FFCD04;
    border: none;
    border-radius: 0%;
    border-bottom: 5px solid #FFCD04;
    border-top: 5px solid #FFCD04;
        
}

.menu{
    height: 45px;
    margin-left: 12px;
    display: flex;
    justify-content: space-between;
}

.menu div {
    width: 50%;
    margin: 0 auto;
    display: flex;
}

.search1{
    flex-direction: row-reverse;
    
}

.menu a {
  color: #ffffff;
  text-decoration: none;
}

.search{
   display: flex;
   justify-content: center;
}

.searA{
    height: 45px;
    width: 70px;
    background-color: #e4d8d8;
    margin-left: 30px;   
}

input[type=text]
{
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    border: 1px solid ;
    border-radius: 0px;
    margin-bottom: 4px;
    outline: none;
    box-sizing: border-box;
}

.par1{
    font-size: 15px;
    text-align: justify;
}

.mission {
    font-size: 15px;
}

.XXX{
    justify-content: space-between;
}

.Mtexto {
    margin-left: 15px;
}

.br{
    margin-top: 35px;
}